


body{
  margin: 0;
  background: linear-gradient(rgb(165,165,165), rgb(174,255,174));
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#calculator{
  margin: auto;
  font-family:Tahoma Sans-Serif;
  background: linear-gradient(rgb(165,165,165), rgb(194,255,174));
  color:white;
  border-radius: 15px;
  /*max-width: 450px;*/
  overflow: hidden;
}


#keys{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}


#display{
  
  width: 100%;
  font-size: 5rem;
  padding:20px;
  border-radius:5px;
  border: none;
  background-color:hsl(0,0%,40%);
  color:#edfbff;
  border: none;
  width:100%;
  cursor: none;
  text-align: left;
  
}

/*.yellow{*/
/*  background-color:rgb(150,150,150);*/
/*  color:#1a1a1a;*/
/*}*/

.teng, .yellow{
  background-color:rgb(86,255,25);
  color: rgb(70,70,70);
}


.yellow{
  border-right: 1px solid white;
}

.teng{
  background-color: lightgray;
  color:black;
}



button{
  width:80px;
  height:80px;
  border-radius: 40px;
  border: none;
  cursor: none;
  font-size: 50px;
  font-family: Georgia Times New Roman Arial;
  background-color: rgb(50,50,50);
  color:white;
  transition: all 0.2s ease-in-out;
}


/*button:hover{*/
/*  background-color: rgb(150,150,150);*/
/*  color:white;*/
/*}*/

button:active{
  background-color: rgb(150,150,150);
  border: 2px inset black;
  color:white;
}
